.sul-form .autocomplete-box {
    position: relative;
}
.sul-form .autocomplete-value {
    background: #23282d;
    border-radius: 6px;
    color: #eee;
    display: none;
    left: 4px;
    max-width: 100%;
    padding: 2px 6px;
    position: absolute;
    text-overflow: ellipsis;
    top: 4px;
    white-space: nowrap;
}
.sul-form .autocomplete-box.autocomplete-filled .autocomplete-value {
    display: inline-block;
}
.sul-form .autocomplete-clear {
    cursor: pointer;
    font-weight: bold;
}
.sul-list .autocomplete-value {
    line-height: 1.5;
}
.sul-delete {
    cursor: pointer;
}

.sul-form #sul-location-map {
    height: 400px;
    width: 100%;
}

.sul-form ul.errors {
    color: #f00;
}
